<div class="container">
  <h1 class="text-center">Edit your public<span class="orange">ad</span> listing</h1>

  <div>
    <%= render partial: "form", locals: { url: listing_path, method: :put} %>
  </div>
</span>