<style>
#infoPane {
    width: 100%;
    margin-top: 50px;
    border: none;
    height: 250px;
    position: relative;
    max-height: 300px;
    border: 2px solid black;
    overflow: scroll;
    margin-left: 8px;
    opacity: 0;
}
#map {
    margin-top: 5px;
    min-height: 500px;
    max-height: 800px;
    height: 100%;
    position: relative;
    border: 2px solid black;
}
p.texty{
  color: black;
  padding-bottom: 10px;
}
div#infoPane div{
  margin: 0;
  padding: 0;
}
  div#infoPane div p{
  margin: 0;
  padding: 0;
}
div.container-fluid.map-div{
  margin-right: 0;
  padding-right: 0;
  padding-top: 70px;
  padding-bottom: 0px;
}
div.info-pane-description{
  padding: 0;
  margin: 0;
}
div.info-pane-description p {
  padding: 2% 5% 0;
  margin: 0;
  text-align: center; 
}
div#infoPane div p {
  text-align: center;
  padding: 0 20%;
}
#infoPane {
    transition:all 1s ease;
    -moz-transition:all 1s ease;
    -webkit-transition:all 1s ease;
    -o-transition:all 1s ease;
    -ms-transition:all 1s ease;
}

#infoPane.visible {
    opacity: 1;
}
h1.text-center.info-pane-title{
  padding-top: 20px;
  margin: 0;
}
.ad-txt{
  color: rgb(252, 159, 86);
}
div#infoPane div p.listing-info-txt{
  padding-bottom: 5px;
}
#infoPane::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
#infoPane::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

</style>



<div class="container-fluid map-div">
  <div class="row">
    <div class="col-xs-4">
      <h1 class="text-center info-pane-title">public<span class="ad-txt">ad</span></h1>
      <div class="info-pane-description">
        <p>Click on one of the map's markers to get started and see the public<span class="ad-txt">ad</span> information.</p>
      </div>
      <div id="infoPane" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'"></div>
    </div>
    <div class="col-xs-8">
      <div id="map" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'"></div>
    </div>
  </div>
</div>

<% content_for :javascripts do %>
<script type="text/javascript">
    var package_path = "//esri.github.com/bootstrap-map-js/src/js";
    var dojoConfig = {
        packages: [{
            name: "application",
            location: package_path
        }]
    };
</script>
<script type="text/javascript" src="//js.arcgis.com/3.13compact">
</script>

<script>
  var map,
      featureLayer,
      template;

      require([
        "dojo/ready",
        "dojo/on",
        "dojo/dom",
        "dijit/registry",
        "dojo/dom-construct",
        "dojo/parser",
        "esri/map",
        "application/bootstrapmap",
        "esri/arcgis/utils",
        "esri/domUtils",
        "esri/dijit/Popup",
        "esri/layers/FeatureLayer",
        "esri/InfoTemplate",
        "dijit/layout/ContentPane",
        "dijit/layout/BorderContainer"
      ], function(
        ready,
        on,
        dom,
        registry,
        domConstruct,
        parser,
        Map,
        BootstrapMap,
        arcgisUtils,
        domUtils,
        Popup,
        FeatureLayer,
        InfoTemplate
         ) {
          ready(function() {
              parser.parse();
      map = BootstrapMap.create("map", {
      basemap: "topo",  
      center: [-122.45, 37.80], 
      zoom: 14,
      smartNavigation: true
    });
    map.on("click", function (evt) {
      console.log(evt);
      $( "#infoPane" ).addClass( "visible" );
    });
    map.infoWindow.set("popupWindow", false);
    template = new InfoTemplate();
    // template.setTitle("<b>${description}</b>");
    template.setContent("<div><h3 class='ad-txt' style='text-align:center;'>${Title}</h3></div><div><p style='text-align:center;'><span class='ad-txt'> Description</span></p> <p class='listing-info-txt'>${description}</p></div><div><p style='text-align:center;'><span class='ad-txt'> Category</span></p> <p class='listing-info-txt'>${category}</p></div><div><p style='text-align:center;'><span class='ad-txt'> Is available</span></p> <p class='listing-info-txt'>${is_available}</p></div><div><p style='text-align:center;'><span class='ad-txt'> Size</span></p> <p>width=${width} and height=${height}</p></div><div><p style='text-align:center;'><span class='ad-txt'> Set-up cost</span></p> <p class='listing-info-txt'>${base_amount}</p></div><div><p style='text-align:center;'><span class='ad-txt'> Charge frequency</span></p> <p class='listing-info-txt'>${charge_frequency}</p></div><div><p style='text-align:center;'><span class='ad-txt'> Minimum Lease Length</span></p> <p class='listing-info-txt'>${minimum_lease_day}</p></div>");

    featureLayer = new FeatureLayer("http://services5.arcgis.com/IsOQGGJ77Az9lKvg/ArcGIS/rest/services/sampleData/FeatureServer/0", {
        mode: FeatureLayer.MODE_ONDEMAND,
        outFields: ["Title", "description", "is_available", "company_name", "width", "height", "base_amount", "recurring_amount", "charge_frequency", "minimum_lease_day", "category"],
        infoTemplate: template
    });
    map.addLayer(featureLayer);
    initializeSidebar(map);
});
    function initializeSidebar(map) {
      var popup = map.infoWindow;
      popup.on("SelectionChange", function(){
        displayPopupContent(popup.getSelectedFeature());
      });
      popup.on("ClearFeatures", function(){
        registry.byId("infoPane").set("content", "");
        domUtils.hide(dom.byId("pager"));
      });
      popup.on("SetFeatures", function() {
          displayPopupContent(popup.getSelectedFeature());
      });
    }
    function displayPopupContent(feature) {
    if (feature) {
        var content = feature.getContent();
        registry.byId("infoPane").set("content", content);
    }
}
});
</script>
<% end %>