<div class="container top-margin">
  <h1 class="text-center">Create a public<span class="orange">ad listing</h1>

  <h3 class="text-center">There are theree simple steps to createing your free public<span class="orange">ad listing</h3>

  <div>
    <%= render partial: "form", locals: { url: listings_path, method: :post} %>
  </div>
</span>